
:root{
  font-size: 16px;
}

header {
  background-image: url('../img/pawsonthekeyboard.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  align-items: center;

}
#page_name {
  font-size: 1.5rem;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:2% 10%;
}
.menus {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu_items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
  gap: 1.0rem;
}

.header_page_quote{
  display: flex;
  justify-content: center;
  align-items: center;
}

#first_page_quote {
  font-size: 2rem;
}

main {
  background-color: #76a4a7;
}

/*Styling of About me Page */
.about_me {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.me_description {
  background-color:#F0D2D1;
  justify-content: center;

  padding-top:10vh;
  padding-left: 8vh;
  padding-right: 5vh;
  width: 30%;
}



#shu_photo {
  width: 60%;
  height: auto;
}



.projects {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  height:100vh;
}
.project_container {
  display: flex;
  flex-direction: row;
  align-items: space-around;
}
.recent_project{
  flex: 1;
  padding: 5px;
  border: 3px, solid #d6ccc2;
  border-radius: 15px;

}

.contact_me {
  height: 100vh;
}

.leave_msg_container {
  display: flex;
  flex-direction: column;
  margin:auto;
  max-width: 600px; 
  width: 100%;
}
.leave_msg_container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.leave_msg_container input,
.leave_msg_container textarea {
  display: block;

}