
:root{
  font-size: 16px;
}
body {
  padding-top: 120px;
}
header {
  background-image: url('../img/pawsonthekeyboard.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  align-items: center;
}
#page_name {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #60848c;
}

.nav_content{
  margin: 0 10%;
}

.nav_items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
  gap: 1.0rem;
}

.header_page_quote{
  display: flex;
  justify-content: center;
}

#first_page_quote {
  font-size: 2rem;
  white-space: pre-line;
}

.second-line {
  padding-left: 80px; 
}

main {
  background-color: #76a4a7;
}

/*Styling of About me Page */
.about_me {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.me_description {
  background-color:#F0D2D1;
  justify-content: center;
  padding-top:10vh;
  padding-left: 8%;
  padding-right: 5vh;
  width: 40%;
}


#shu_photo {
  width: 60%;
  height: auto;
}


.me_right {
  display: flex;
  flex-direction: row;
  padding-top:10vh;
  padding-left: 5vh;
  padding-right: 8%;
}

.education-content,
.experience-content {
  border: 3px dashed #F0D2D1;
  border-radius: 10px;
  padding: 10px;
}

/* --Project --*/
.projects {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh;
  text-align: center;
  margin: 20px;
}

.project_container {
  display: flex;
  flex-direction: row;
  align-items: space-around;
}
.recent_project{
  flex: 1;
  padding: 5px;
  border: 3px, solid #ffc5c2;
  border-radius: 15px;
  background-color: #ebd6e1;
  height: 50vh;
}
.card-img-top {
  height: 200px;
  width: 50%;
}


.contact_me {
  height: 100vh;
}

.leave_msg_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px; 
  width: 100%;
}
.leave_msg_container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.leave_msg_container input,
.leave_msg_container textarea {
  display: block;
}