header {
  background-image: url('../img/pawsonthekeyboard.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

}

.nav {
  display: flex;
  flex-direction: row;
}
.menus {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 让搜索框和菜单分两边 */
}
.menu_items {
  display: flex;
  flex-direction: row;
}
#shu_photo {
  width: 400px;
  height: auto;
}

.about_me_container {
  display: flex;
  flex-direction: row;
}