
:root{
  font-size: 16px;
}

header {
  background-image: url('../img/pawsonthekeyboard.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  align-items: center;

}
#page_name {
  font-size: 1.5rem;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:2% 10%;
}
.menus {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu_items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
  gap: 1.0rem;
}


.header_page_quote{
  display: flex;
  justify-content: center;
  align-items: center;
}

#first_page_quote {
  font-size: 30px;
}


#shu_photo {
  width: 400px;
  height: auto;
}

.about_me_container {
  display: flex;
  flex-direction: row;
}