#about{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;

}

.about-left{
    flex: 1;
    text-align: center;
    width: 35vw;
}
.about-right{
    flex: 2;
    padding-left: 50px;
}