.project-section {
    padding: 4rem 2rem;
    margin: 4rem 4rem;
}

.project-section h1 {
    font-size: 2.5rem;
    text-align: center;
    color:#f3f4f6;
    margin-bottom: 3rem;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2.5rem;
}