.project-card{
    background: white;
    border-radius: 12px;
    overflow: visible;
    color: #1f2937;
}

.project-card:hover {
    transform: translateY(-5px);

}
.project-image {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
  border-bottom: 1px solid #f3f4f6;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}
.project-description {
    font-size: 1rem;
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    color: #4b5563;
}

.project-tags {
    padding: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.project-links {
  padding: 0 2rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
 
}