/* --- Navbar container --- */
.navbar {
  position: fixed;    
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* --- (Logo) --- */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 15px; 
}


/* --- navbar links --- */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right:2rem;
}
.navbar-links a {
  text-decoration: none;
  color: #FFF5F2;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar-links a:hover {
  color: #A8E6CF;
  background-color: #2C333D;
}