/* --- Navbar 整体容器 --- */
.navbar {
  position: fixed;    
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #211d25; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* --- (Logo + 按钮) --- */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 15px; 
}


/* --- navbar links --- */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right:2rem;
}
